body{
    background-color: #d9d9d9;
    background-image: url();
}
.menu{
    background-color: #226825;
    
}
.carrossel {
    margin: auto;
}
.cadastro {
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 60em;
    
}
#msg {
    display: none;
}
@media (max-width:768px) {
    
}
@media (min-width:768px) {
    .menu {
        width: 100%;
    }
    .carrossel{
        width: 100%;
    }
    .cadastro{
        width: 100%;
    }
}
.login {
    margin-top: 5vw;
}
.imput {
    border-radius: 10px;
}
.nav-link {
    color: white;
}
.text0-nav{
    margin-left: 500px;
}
.sobre{
    text-align: center;
    margin: auto;
}
.introdução {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}
.cartoes {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
}
.ingresso1{
    margin-left: 30%;
}
